:root {
  --green: #98ddca;
  --softgreen: #d5ecc2;
  --orange: #ffd3b4;
  --pink: #f8eded;
  --font: #064420;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button {
  all: unset;
  cursor: pointer;
}

button {
  background-image: linear-gradient(
    to right,
    #d5ecc2 0%,
    #ffafbd 51%,
    #d5ecc2 100%
  );

  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: var(--font);
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  width: 52%;
}

button:hover {
  background-position: right center; /* change the direction of the change here */
  color: var(--font);
  text-decoration: none;
}

input {
  border-radius: 10px;
  width: 50%;
  padding: 5px;
  margin: 10px;
}
.input-gradient {
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(
    to right,
    #d5ecc2 0%,
    #ffafbd 51%,
    #d5ecc2 100%
  );
}

body {
  margin: 0;
  /* overflow: hidden; */
  position: relative;
  height: 100vh;
  width: 100%;
  background: rgb(213, 236, 194);
  background: linear-gradient(
    90deg,
    rgba(213, 236, 194, 1) 46%,
    rgba(255, 175, 189, 1) 100%
  );
  /* background: rgb(213, 236, 194);
  background: linear-gradient(
    90deg,
    rgba(213, 236, 194, 1) 0%,
    rgba(255, 211, 180, 1) 100%
  ); */
  font-family: "Montserrat", sans-serif;
}

header {
  background: rgb(213, 236, 194);
  background: linear-gradient(
    90deg,
    rgba(213, 236, 194, 1) 46%,
    rgba(255, 175, 189, 1) 100%
  );
  margin: 10px;
}

h1 {
  font-weight: 600;
  text-align: center;
  color: #064420;
}

.cards {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
}

.card {
  border-radius: 15px;
  background-color: var(--pink);
  box-shadow: 0.125rem 0.125rem 0.375rem #ccc;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 20px;
  align-items: center;
  height: 700px;
  width: 50%;
}

label {
  display: inline-block;
}
h2 {
  text-align: center;
}

form {
  padding: 5px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

h3 {
  margin-top: 10px;
  margin-bottom: 5px;
}

.cards2 {
  display: flex;
  flex-direction: column;
}
